
<%= form_for current_user do |f| %>
  <h2>登録情報</h2>
  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, placeholder:"current_user.nickname" %></div>

  <div class="field">
    <%= f.label :プロフィール画像 %><br />
    <%= f.file_field :avatar, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.text_field :birth_day, placeholder:"例：19870131" %></div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.collection_select :sex, Gender.all, :gender, :gender %></div>

  <div class="field">
    <%= f.label :ハウスメイト %><br />
    <%= f.collection_select :housemate, Housemate.all, :housemate, :housemate %></div>

  <div class="field">
    <%= f.label :職業 %><br />
    <%= f.collection_select :occupation, Occupation.all, :occupation, :occupation %></div>

  <div class="actions">
  <%= f.submit '更新' %>
  </div>
<% end %>