
<%= form_for current_user do |f| %>
  <h2>登録情報</h2>
  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, placeholder:"current_user.nickname" %></div>

  <div class="field">
    <%= f.label :プロフィール画像 %><br />
    <%= f.file_field :avatar, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :年齢 %><br />
    <%= f.text_field :age, placeholder:"例：22" %></div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.text_field :sex %></div>

  <div class="field">
    <%= f.label :ハウスメイト %><br />
    <%= f.text_field :housemate, placeholder:"例：一人暮らし、夫と子供" %></div>

  <div class="field">
    <%= f.label :職業 %><br />
    <%= f.text_field :occupation %></div>

  <div class="actions">
  <%= f.submit '更新' %>
  </div>
<% end %>